.btn {
  height: 48px;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
}

.btn__button {
  display: flex;
  gap:10px;
  flex-direction: row;
  
      
}

.btn_primary {
    background: #4263EB;
    border: 0px;
    color: #FFFFFF;
    
    
  }
  
.btn_primary:hover {
    background: #2342C0;;
  }
  
.btn_primary:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
.btn_Secondary {
    background: #7048E8;
    border: 0px;
    color: #FFFFFF;
 }
  
.btn_Secondary:hover {
    background: #5028C6;
  }
  
.btn_Secondary:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
.btn_alternate {
    background: #FFF;
    border: 1px solid #ACB5BD;
    color: rgba (73, 80, 87, 1);
    
  }
  
  .btn_alternate:hover {
    background: #FFF;
    border: 1px solid #212429;
  }
  
  .btn_alternate:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  
