.accordion {
  Width: 730px;
  Height: 304px;
  display: flex;
  flex-direction: column; 
  gap: 8px;
}

.accordion__section {
  padding: 20px;
  border: 1px solid #ACB5BD;
  border-radius: 8px;
  box-sizing: border-box;
}

.accordion__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212429;    
}
.accordion__summary::-webkit-details-marker {  
    display: none;
}