/* Стилизация аккордеона */
.accordion {
    padding: 20px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    width: 730px;
      left: 544px;
    top: 227px;
  }
  
  
  .accordion__item {
      margin-bottom: 8px;
      
  }
  .accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
      display: none;
  }